.headline {
    background: #1c1a19 url(images/Illustration-header-desktop.svg) right -40px bottom 70px no-repeat;
    background-size: contain;
}

.badge {
    border: solid 1px black;
    /* border-radius: 0; */
}
